.wrapperIconsRow {
  display: flex;
  margin-top: 50px;
  font-size: 30px;
}

.wrapperIconsColumn {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: 30px;
    position: absolute;
    top: 290px;
  }