.wrapperImg {
  /* position: absolute; */
  top: 250px;
  left: 100px;
}

.imgAbout {
  height: 320px;
  /* width: 400px; */
  --s: 6px;
  padding: var(--s);
  border: calc(2*var(--s)) solid #0000;
  outline: 1px solid gray;
  outline-offset: calc(-1*var(--s));
}

.div {
  position: absolute;
  top: 170px;
  display: flex;
  padding-right: 88px;
  padding-left: 88px;
}

.wrapper {
  margin: 20px 40px 0 50px;
}

.description {
  border-bottom: 1px solid gray;
  padding-bottom: 30px;
}

.border {
  border-bottom: 1px solid gray;
  position: absolute;
  top: 600px;
  width: 1424px;
}

.divContact {
  left: 473px;
  display: flex;
  position: absolute;
  top: 350px;
  justify-content: space-between;
  width: 700px;
}

.btn {
  margin-top: 40px;
  display: inline-block;
  min-width: 160px;
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid;
  background-color: inherit;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
  color: #5756e6;
  border-color: #5756e6;
  background-image: linear-gradient(90deg, #5756e6 50%, transparent 50%);
}

.btn:hover {
  background-position: 0 100%;
  color: #fff;
}

@media (max-width: 767px) {
  
}